In [0]:
df = spark.read.csv("dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/original.csv",header=True)

In [0]:
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|     Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [0]:
df.select("first_name","last_name").show()

+----------+----------+
|first_name| last_name|
+----------+----------+
|   Melinde| Shilburne|
|  Kimberly|Von Welden|
|    Alvera|  Di Boldi|
|   Shannon| O'Griffin|
|  Sherwood|   Macieja|
|     Maris|      Folk|
|     Masha|    Divers|
|   Goddart|     Flear|
|      Roth|O'Cannavan|
|      Bran|   Trahear|
|    Kylynn|   Lockart|
|       Rey|    Meharg|
|      Kerr|    Braden|
|    Mickie| Whanstall|
|    Kaspar|     Pally|
|    Norbie|    Gwyllt|
|    Claude|    Briant|
|     Thain|    Habbon|
|  Tiffanie|  Pattison|
|    Ettore|  Gerriets|
+----------+----------+
only showing top 20 rows

In [0]:
df.withColumnRenamed("first_name","fn").show()

+---+--------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|      fn| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+--------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1| Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|  Alvera|  Di Boldi|Female|           null|                null|$57576.52|39.9947462|116.3397725|
|  4| Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|
|  6|   Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|   Masha|    Divers|Female|         Dachun|                null|$25090.87| 24.879416| 118.930111|
|  8| Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|    Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|    Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|  Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|     Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|    Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|  Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|  Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|  Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|  Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|   Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|  Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
+---+--------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [0]:
df.filter(df.first_name=='Goddart').show()

+---+----------+---------+------+---------+--------------------+---------+----------+---------+
| id|first_name|last_name|gender|     City|            JobTitle|   Salary|  Latitude|Longitude|
+---+----------+---------+------+---------+--------------------+---------+----------+---------+
|  8|   Goddart|    Flear|  Male|Trélissac|Desktop Support T...|$46116.36|45.1905186|0.7423124|
+---+----------+---------+------+---------+--------------------+---------+----------+---------+

In [0]:
df.filter(df.first_name.like('%lvera')).show()

+---+----------+---------+------+----+--------+---------+----------+-----------+
| id|first_name|last_name|gender|City|JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+---------+------+----+--------+---------+----------+-----------+
|  3|    Alvera| Di Boldi|Female|null|    null|$57576.52|39.9947462|116.3397725|
+---+----------+---------+------+----+--------+---------+----------+-----------+

In [0]:
df.filter(df.first_name.endswith('din')).show()

+---+----------+-------------+------+-----------+--------+---------+-----------+----------+
| id|first_name|    last_name|gender|       City|JobTitle|   Salary|   Latitude| Longitude|
+---+----------+-------------+------+-----------+--------+---------+-----------+----------+
|901|     Aldin|Matuszkiewicz|  Male|East London|Operator|$41468.83|-32.9549324|27.9319131|
+---+----------+-------------+------+-----------+--------+---------+-----------+----------+

In [0]:
df.filter(df.first_name.startswith('A')).show()

+---+----------+----------+------+--------------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|                City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+--------------------+--------------------+---------+----------+-----------+
|  3|    Alvera|  Di Boldi|Female|                null|                null|$57576.52|39.9947462|116.3397725|
| 21|      Alon|  Chasteau|  Male|               Xin’e|     Web Developer I|$62755.85|  49.16291|  127.98658|
| 55|   Addison|   Goudard|  Male|Palmas De Gran Ca...|Safety Technician IV|$91642.24|28.0990178|-15.4203257|
| 61|      Adam|   Seagood|  Male|         Krajan Siki|  Research Associate|$28660.11|   -8.1831|   111.5359|
| 63|    Antone|      Erie|  Male|          Bilohirs’k|  Help Desk Operator|$51271.99|45.0577954|  34.605095|
| 81|     Alvin|     Doman|  Male|                Niny|Research Assistant I|$53258.86|44.4868448| 43.9408057|
|100|      Aime|   Phlippi|Female|       Leshukonskoye|   Account Executive|$15428.49|64.8973466| 45.7651734|
|101|     Alene|       Odd|Female|       María la Baja|Accounting Assist...|$37379.03| 9.9141597|-75.4111644|
|110| Annadiana|    Keward|Female|              Jiashi|           Paralegal|$23456.67| 39.488181|  76.723719|
|112|    Andros|   De Metz|  Male|             Cuogang|   Director of Sales|$11832.43|50.0588756| 23.9736471|
|115|    Allard|    Cordel|  Male|           Mieścisko|Compensation Analyst|$18907.81|45.8630194|   5.947966|
|117|      Alli|   Mc Pake|Female|              Gerong|     Staff Scientist|$58172.73|-6.2002533|106.8221628|
|132|    Andrus|     Shinn|  Male|             Siguiri|       Senior Editor|$43934.36|11.4148113| -9.1788304|
|135|    Aubrie|  Swyndley|Female|Jarošov nad Nežárkou|    Internal Auditor|$82905.58|49.1912902| 15.0524346|
|140|     Andie|   Ernshaw|Female|               Casma| Executive Secretary|$58377.47|-9.4718308|-78.3006626|
|160|     Alane|Southworth|Female|           Eindhoven|Programmer Analyst I|$24042.10|51.4131558|  5.4852794|
|162|     Angel|    Stripp|  Male|           Otradnaya|Analog Circuit De...|$38294.01|44.3559175| 41.5113076|
|181|    Amitie|    Stibbs|Female|              Dingle|             Teacher|$47861.51|10.9991938|122.6717828|
|193|    Alfons| Dumbleton|  Male|               Shūsh|Research Assistan...|$88389.56|32.1957948|  48.254283|
|203|     Arley|    Ullock|  Male|              Burgau|        Food Chemist|$42895.45|37.0734616| -8.7751983|
+---+----------+----------+------+--------------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [0]:
df.filter(df.id.between(1,5)).show()

+---+----------+----------+------+-------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|         City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+-------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|    Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|       Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|         null|                null|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|    Mytishchi|            VP Sales|$63863.09|      null| 37.6489954|
+---+----------+----------+------+-------------+--------------------+---------+----------+-----------+

In [0]:
df.filter(df.first_name.isin('Alvera','Kimberly','Shannon')).show()

+---+----------+----------+------+-------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|         City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+-------------+--------------------+---------+----------+-----------+
|  2|  Kimberly|Von Welden|Female|       Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|         null|                null|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
+---+----------+----------+------+-------------+--------------------+---------+----------+-----------+

In [0]:
df.select("first_name",df.first_name.substr(1,4).alias("name")).show()

+----------+----+
|first_name|name|
+----------+----+
|   Melinde|Meli|
|  Kimberly|Kimb|
|    Alvera|Alve|
|   Shannon|Shan|
|  Sherwood|Sher|
|     Maris|Mari|
|     Masha|Mash|
|   Goddart|Godd|
|      Roth|Roth|
|      Bran|Bran|
|    Kylynn|Kyly|
|       Rey| Rey|
|      Kerr|Kerr|
|    Mickie|Mick|
|    Kaspar|Kasp|
|    Norbie|Norb|
|    Claude|Clau|
|     Thain|Thai|
|  Tiffanie|Tiff|
|    Ettore|Etto|
+----------+----+
only showing top 20 rows

In [0]:
%fs ls dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/

path,name,size,modificationTime
dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/1_05KB_JSON_File_FreeTestData.json,1_05KB_JSON_File_FreeTestData.json,1085,1701363773000
dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/Employee-1.csv,Employee-1.csv,70,1701190152000
dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/Employee-2.csv,Employee-2.csv,70,1701190297000
dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/Employee.csv,Employee.csv,70,1701189859000
dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/original.csv,original.csv,86874,1701355862000
dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/part_00000_a9e77425_5fb4_456f_ba52_f821123bd193_c000_snappy.parquet,part_00000_a9e77425_5fb4_456f_ba52_f821123bd193_c000_snappy.parquet,69287,1701535477000
dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/part_00001_a9e77425_5fb4_456f_ba52_f821123bd193_c000_snappy.parquet,part_00001_a9e77425_5fb4_456f_ba52_f821123bd193_c000_snappy.parquet,70198,1701617471000
dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/sample1.json,sample1.json,65,1701365061000
dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/samplejsonFile/,samplejsonFile/,0,0
dbfs:/FileStore/shared_uploads/athiyastudies@gmail.com/samplejsonFiles/,samplejsonFiles/,0,0